This is my autocomplete template
<br>
{{computedName}}
<br>
{{yield}}
<button onclick={{action "clickHandler1"}}>CLICKAME!!</button>
<br>
<br>
<br>
<br>
Tengo una lista de longitud: {{list.length}}

<ul>
  {{#each list as |option index|}}
    <li id={{option.id}} onclick={{action "onOptionClick"}}>
      {{ option.title }}
    </li>
  {{/each}}
</ul>



